<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h1 {
                text-align: center;
            }
            .container {
                background-color: #f7f7f7;
                  width: 40%;
                  border: 3px solid black;
                  padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container center">
            <h1>AHJ Registry</h1>
            <p>Hello {{ user.first_name }} {{ user.last_name }},</p>
            <p>
                Please click the link below to confirm your account:
                <br/>
                <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">Confirm your account</a>
            </p>
            <p>
                Thank you,<br/>
                AHJ Registry
            </p>
        </div>
    </body>
</html>