<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h1 {
                text-align: center;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table, th, tr {
                border: 1px solid black;
            }
            .container {
                background-color: #f7f7f7;
                  width: 40%;
                  border: 3px solid black;
                  padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>AHJ Registry</h1>
            <p>Hello {{ user.first_name }} {{ user.last_name }},</p>
            <p>
                Another user recently submitted an edit for the Authority Having Jurisdiction <b>{{ ahj.AHJName }}</b>.
                <br/>
                <table style="width: 100%">
                    <tr>
                        <th>Field Edited</th>
                        <th>Previous Value</th>
                        <th>New Value</th>
                        <th>Confirm Change</th>
                        <th>Reject Change</th>
                    </tr>
                    <tr>
                        <th>{{ edit.FieldName }}</th>
                        <th>{{ edit.PreviousValue }}</th>
                        <th>{{ edit.Value }}</th>
                        <th><a href="http://{{ domain }}{% url 'set_edit_status_email' uidb64=uid token=token edit_id=edit.id %}?confirm=accepted">Confirm</a></th>
                        <th><a href="http://{{ domain }}{% url 'set_edit_status_email' uidb64=uid token=token edit_id=edit.id %}?confirm=rejected">Reject</a></th>
                    </tr>
                </table>
            </p>
            <p>
                Thank you,<br/>
                AHJ Registry
            </p>
        </div>
    </body>
</html>